<div class="flexcol">
    <h3>Sous-Classe</h3>
    <input type="text" name="system.subclass" value="{{system.subclass}}" placeholder="Sous-Classe" data-dtype="String"/>
</div>

<div class="form-header">Statistiques</div>
<div class="flexcol">
    <table>
        {{#each system.stats as |svalue stat|}}
            <tr>
                <th>{{getProfStats stat}}</th>
                <td>
                    <input type="number" name="system.stats" value="{{svalue}}" placeholder="value" data-dtype="String"/>
                </td>
            </tr>
        {{/each}}
    </table>
</div>