<div class="form-header">Statistiques</div>
<div class="flexcol">
    <table>
        {{#each system.stats as |svalue stat|}}
            <tr>
                <th>{{getCharStats stat}}</th>
                <td>
                    <input type="number" name="system.stats" value="{{svalue}}" placeholder="value" data-dtype="String"/>
                </td>
            </tr>
        {{/each}}
    </table>
</div>