
 <div>
     <table style="width:100%;">
          <tr style="width:100%;">
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-fo.hbs"}}</td>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-di.hbs"}}</td>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-cac.hbs"}}</td>
          </tr>
          <tr>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-at.hbs"}}</td>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-ct.hbs"}}</td>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-dis.hbs"}}</td>
          </tr>
          <tr>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-in.hbs"}}</td>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-ch.hbs"}}</td>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-mag.hbs"}}</td>
          </tr>
          <tr>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-pe.hbs"}}</td>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-lc.hbs"}}</td>
               <td>{{> "systems/onyria/templates/actors/character/parts/stats/attributes/character-attributes-esq.hbs"}}</td>
          </tr>
     </table>
</div>

