<div class="flexrow no-wrap stats">
    {{#if (isEnabled "allowInitiative")}}
        <div class="flex1 layout center hpcol1 pos_relative">
        <!-- HP -->
        {{> "systems/onyria/templates/actors/character/parts/stats/character-hp-init.hbs"}}
    </div>
    <div class="flex1 layout center hpcol pos_relative">
        <!-- HP -->
        {{> "systems/onyria/templates/actors/character/parts/stats/character-initiative.hbs"}}
    </div>
    {{else}}
    <div class="flex1 layout center hpcol pos_relative">
        <!-- HP -->
        {{> "systems/onyria/templates/actors/character/parts/stats/character-hp.hbs"}}
    </div>
    {{/if}}
    <div class="flex1 layout center degatcol pos_relative">
        <!-- ATTAQUES -->
        {{> "systems/onyria/templates/actors/character/parts/stats/character-attacks.hbs"}}
    </div>
</div>

<div class="flexrow no-wrap stats">
    <div class="flexrow flex3">
        {{#if (or (isOnyriaTypeSetting "onyria") (isOnyriaTypeSetting "stars"))}}
        <div class="flex1 layout carac pos_relative">
            <!-- STATS -->
            {{> "systems/onyria/templates/actors/character/parts/stats/character-attributes.hbs"}}
        </div>
        {{/if}}
    </div>
</div>